h1{
    font-family: 'Century Gothic', 'Futura', Arial, serif;
    padding: 16px;
    font-size: 300%;
    color: #216996;
    text-align: center;
    position: sticky;
    top:0;
    background-color: #EA9010;
}

h1::before{
    content: url('../images/Red.png');
    padding: 10px;
}

h1::after{
    content: url('../images/Red.png');
    padding: 10px;
}

/* header{
    position: sticky;
    top: 0;
} */

body{
    background-color: #216996;
    color: #37423D;
    font-family: Arial, Helvetica, sans-serif;
}

.skip {
    position: absolute;
    transform: translateY(-100%);
}

nav{
    background-color: #EA9010;
    position: sticky;
    top: 0;
}

body nav ul{
    text-align: center;
}

div:nth-child(2n) h3{
    font-size: 20px;
    padding: 20px 40px 10px;
    color: #A40606;
    font-family: 'Century Gothic', 'Futura', Arial, serif;
    grid-column: 2/3;
}

div:nth-child(2n+1) h3 {
    font-size: 20px;
    padding: 20px 40px 10px;
    color: #A40606;
    font-family: 'Century Gothic', 'Futura', Arial, serif;
    grid-column: 1/2;
}

div:nth-child(2n) p{
    color: #37423D;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 80px;
    font-size: 18px;
    grid-column: 2/3;
}

div:nth-child(2n+1) p{
    color: #37423D;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 80px;
    font-size: 18px;
    grid-column: 1/2;
}

body nav ul li{
    display: inline-block;
    font-family: 'Century Gothic','Futura',Arial,serif;
    padding: 10px 20px;
    font-style: normal;
}

body nav ul li a{
    color: #A72608;
    text-decoration: none;
}

body nav ul li a.active {
    color: #A72608;
    font-weight: bold;
}

body nav ul li a:hover{
    color: #216996;
    border-bottom: 3px dotted #216996;
}

div:nth-child(2n) h2{
    font-family: 'Century Gothic','Futura',Arial,serif;
    padding: 15px 40px;
    font-size: 24px;
    margin: 5px;
    text-align: left;
    color: #A40606;
    font-style: italic;
    grid-column: 2/3;
}

div:nth-child(2n+1) h2 {
    font-family: 'Century Gothic', 'Futura', Arial, serif;
    padding: 15px 40px;
    font-size: 24px;
    margin: 5px;
    text-align: left;
    color: #A40606;
    font-style: italic;
    grid-column: 1/2;
}

div:nth-child(2n) img{
    border: 8px dotted #EA9010;
    width: 80%;
    border-radius: 50%;
    padding: 10px;
    margin: 20px;
    grid-column: 1/2;
    grid-row: 2 / span 4;
    justify-self: center;
}

div:nth-child(2n + 1) img{
    border: 8px dotted #A40606;
    width: 80%;
    border-radius: 50%;
    padding: 10px;
    margin: 20px;
    grid-column: -2/-1;
    grid-row: 2 / span 4;
    justify-self: center;
}

body .terf,.racist{
    display: none;
}

div:nth-child(2n) .works{
    list-style: disc inside;
    list-style-image: url(../images/Blue.png);
    line-height: 1.5;
    padding: 10px 60px;
    font-size: 18px;
    font-family: Arial, serif;
    font-style: italic;
    color: #216996;
    grid-column: 2/3;
}

div:nth-child(2n+1) .works {
    list-style: disc inside;
    list-style-image: url(../images/Blue.png);
    line-height: 1.5;
    padding: 10px 60px;
    font-size: 18px;
    font-family: Arial, serif;
    font-style: italic;
    color: #216996;
    grid-column: 1/2;
}

footer{
    background-color: #216996;
    padding: 20px;
}

footer p.thanks{
    color: #EA9010;
    line-height: .5;
    margin-left: 20px;
    margin-bottom: 20px;
    font-family: 'Century Gothic', 'Futura', Arial, serif;
}

a.tops{
    font-family: 'Century Gothic', 'Futura', Arial, serif;
    font-size: 15px;
    color: #EA9010;
    text-decoration: none;
    font-weight: bold;
    margin: 20px;
}

a.tops:hover{
    margin: 20px;
    color: #216996;
    border-bottom: 3px dotted #EA9010;
    font-family: 'Century Gothic', 'Futura', Arial, serif;
    text-decoration: none;
    font-weight: bold;
}

.skip:focus{
    position: absolute;
    transform: translateY(0%)
}

/* .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
} */

.index_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #F0CEBC;
}

img.main_img{
    grid-area: 1/1/2/4;
    /* border-image: url(../images/Blue.png) 40 fill / 15px / 10px stretch; */
    border: 8px dotted #EA9010;
    padding: 15px;
    border-radius: 200px;
    width: 90vw;
    margin: 40px auto;
}

.synopsis{
    grid-area: 2/1/3/4;
}

div.disclaimer{
    grid-area: 4/1/5/4;
    margin: 40px;
}

div.disclaimer p{
    color:#216996;
}

p a{
    color: #A40606;
    font-weight: bold;
    text-decoration: none;
}

p.subtitle{
    padding: 20px;
    margin: 0px auto;
    text-align: center;
    font-style: italic;
    color: #A40606;
    font-family: 'Century Gothic', 'Futura', Arial, serif;
    position: static;
    background-color: #EA9010;
}

.lit-hist{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    margin: 50px;
    padding: 40px;
    background-color: #F0CEBC;
    border-radius: 50px;

}

.alphabet{
    text-align: center;
    margin: 20px auto;
}

.alphabet li{
    display: inline;
    list-style: none;
    font-family: 'Century Gothic', 'Futura', Arial, serif;
    font-size: 18px;
    padding: 5px;
    overflow: none;
}

.alphabet a:hover{
    font-weight: bold;
}

.alphabet a{
    color: #A40606;
}

dl{
    margin: 20px 80px;
}

dl h2{
    padding: 0px;
}

dt{
    font-family: 'Century Gothic', 'Futura', Arial, serif;
    font-size: 16px;
    margin: 10px 0px 10px 20px;
    border-bottom: 3px dotted #37423D;

}

dd{
    font-family: 'Century Gothic', 'Futura', Arial, serif;
    font-size: 12px;
    margin-left: 40px;
    color: #216996;
}

dd p{
    font-family: Arial,serif;
    font-size: 14px;
    padding: 10px;
    color: #37423D;
}

.femdict{
    background-color: #F0CEBC;
}
